<!-- Opening the ejs tags for including header file -->
<!-- Creating a form where action will 
    be on "/" and the method will be "POST" -->
    <form id = "contact-form" method = "POST" action="/form">
        <!-- Creating the parameter Username as type= "text"-->
        <label>Username: </label>
        <input type="text" placeholder="Name" name="username"><br><br>
        <!-- Creating the parameter Email as type= "text"-->
        <label>Email: </label>
        <input type="email" placeholder="Email" name="email"><br><br>
        <!-- Creating the submit button -->
        <button>Submit</button>
    </form>
   