<html>

    <head>
        <title> Login Page  </title>
    </head>

    <style>
 
        input[type=text], select {
          width: 50%;
          padding: 12px 20px;
          margin: 8px 0;
          display: inline-block;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
        }
        
        input[type=submit] {
          width: 50%;
          background-color: #808080;
          color: white;
          padding: 14px 20px;
          margin: 8px 0;
          border: none;
          border-radius: 4px;
          cursor: pointer;
        }
        
        input[type=submit]:hover {
          background-color: #808080;
          color: black;
        }
        
        .div1 {
          border-radius: 5px;
          background-color: #FF6F61;
          padding: 20px;
          width: 50%;
          opacity: 80%;
        }

        body {
        background-color: #92A8D1; 
       /* background-color: #FF6F61;*/
        }
         
        </style>

    <body>
        <br><br><br><br><br><br>
        <center>
            <div class = "div1">
            <form method="POST" action="/transactions"> 
            <label>Enter Account Name :</label><br> 
            <input type="text" name="accountName" placeholder="Enter Account Name"><br>
            <label><b>Transaction Type</b></label><br><br>
            
            <label>Expense :</label>
            <input type="radio" id="txtToggle2" name="expense" value="1"  onclick="OnChangeRadio (this)"ID="chkAssociation"/><br>

            <select id="txtToggle" name="expenseCat" style="display: none;">

           <%

           let exp = new Array();
           exp = ['Grocery','Petrol','Stationary','Refreshments','Loan','Vehicle','Transportation','School/collage Fees','Medicine','Services','Housing','Utilities','Insurance','Personal Spending','Recreation','Other'];
       

                for(var i = 0; i < exp.length; i++) {
            %>
            
            <option value="<%= exp[i] %>"> <%= exp[i] %> </option>
            
            <%
         } 
            %> 
            </select>

            <script type="text/javascript">
                function OnChangeRadio (radio) {
                    if (radio.checked) {
                        document.getElementById('txtToggle').style.display="block"; 
                        document.getElementById('txtToggle3').style.display="none"; 
                        
                    }
                    else {
                        document.getElementById('txtToggle').style.display="none"; 
                        document.getElementById('txtToggle3').style.display="block";
                  
                    }
                }
                
               </script>
<br>

                <label>Income :</label>
                <input type="radio" id="txtToggle3" name="income" value="1"  onclick="OnChangeRadio1 (this)"ID="chkAssociation"/><br>

                <select id="txtToggle1" name="incomeCat" style="display: none;">

                <%

                let inc = new Array();
                inc = ['Bank Interest','Saving','Return Of Investment','Fixed Deposit','Bonds Return','Stocks Return','Pocket Money','Refund','Other'];


                    for(var i = 0; i < inc.length; i++) {
                %>

                <option value="<%= inc[i] %>"> <%= inc[i] %> </option>

                <%
                } 
                %> 
                </select>

                <script type="text/javascript">
                    function OnChangeRadio1 (radio) {
                        if (radio.checked) {
                            document.getElementById('txtToggle1').style.display="block"; 
                            document.getElementById('txtToggle2').style.display="none";
                            
                        }
                        else {
                            document.getElementById('txtToggle1').style.display="none";
                            document.getElementById('txtToggle2').style.display="block"; 
                    
                        }
                    }
                    
                </script>

            <br>
            <label>Enter Amount :</label><br> 
            <input type="text" name="amount" placeholder="Enter Amount"><br>       
            <label>Discription</label><br> 
            <input type="text" name="desc" placeholder="Enter Description"><br>       


           
            <input type="submit" name="txn" value="Complete Transaction">    
            </form> 
            </div>
            </center>
            

    </body>

</html>